h1{
	text-shadow: 1px 1px 1px #3A4491;
	color: #000;
}

c2{
	background: #000;
}

img{
	/*filter: drop-shadow(5px 5px 10px #444);*/
}

.area-sugerencia{
	margin-top: 10px;
	margin-bottom: 20px;

}

.info-cliente{
	margin-top: 5px;
	background: #0367A6;
	color: #fff;
}

.area-texto{
	padding: 0px;
}

.sombra{
	box-shadow: 2px 2px 10px #999;
	margin: 20px;
	background: white;
}

.preguntas-encuesta{
		box-shadow: 1px 1px 2px #999;
}
.preguntas-encuesta input[type="radio"]{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 45px;
	height: 45px;
}
.texto{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h4{
	text-align: center;
	margin: auto;
}

p{
	margin: auto;
	width: 100%;
}



.migajas-pan{
	padding: 5px;
	margin-bottom: 5px;
	color: #000;

}

.migaja{
	background: #9F6AA6;
}
.contenedor-cabecera{
	margin-bottom: 20px;
}
body{
	background: #F2F2F2;
}

.btn-ttc {
	margin-top: 20px;
  color: Black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8A038C;
	padding: 20px;
}

.accordion{
	margin: inherit;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;

}
.registro-encuesta img[type="imagen-listo"]{
	margin-left: 20px;
}

.accordion button[type="button"]{
	color: #000;
}

.accordion button[type="button button2"]{
	background: #0367A6;
}

.registro-encuesta{
	margin-top:5px;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	background: #E2EBF2;
}

.imagen-enviado{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.imagen-enviado img[type="imagen-listo"]{
	margin: auto;
}
.nota-aside{
	margin-top: 400px;
	margin-bottom: 20px;
}
