h1{
	text-shadow: 2px 2px 2px #3A4491;
}

aside{
		margin-top: 10px;
		padding: 10px;
		background: #4A3A25;
			color: #849F9A;
}
img{
	filter: drop-shadow(5px 5px 10px #444);
}

.sombra{
	box-shadow: 2px 2px 10px #999;
}


container{
	background:
}
.resG{
	padding: 20px;
}
